<h1 class="m-5">Pharmada - Privacy policy</h1>
<div class="card m-5 max-w-4xl mx-auto text-justify">
  <h2>Privacy policy</h2>
  <p>Pharmada is committed to protecting the privacy of its users. This privacy policy explains what information we
    collect from you and how we use it.</p>

  <h2 class="mt-2">Information Collection</h2>
  <p>Pharmada does not collect any personal information from its users. We do not ask you to provide any personal
    information, nor do we track your usage of the app in any way.</p>

  <h2 class="mt-2">Third Party Services</h2>
  <p>Pharmada does not use any third-party services that may collect user data.</p>

  <h2 class="mt-2">Changes to this Privacy Policy</h2>
  <p>We may update this privacy policy from time to time. We encourage you to review this page periodically for any
    changes. Your continued use of the app after any changes to this privacy policy will constitute your acceptance of
    such changes.</p>

  <h2 class="mt-2">Contact Us</h2>
  <p>If you have any questions or concerns about this privacy policy or our practices, please contact us by email at
    <b>kevinm.ra[at]hotmail.com</b>.
  </p>
</div>