<div class="grid md:grid-cols-3 gap-4">
  <pharmada-app-info class="text-center md:hidden md:flex justify-center" />
  <div>
    <img alt="Pharmada home screen screenshot" src="/projects/pharmada/screenshot-1.png" class="rounded-xl w-full"/>
    <img alt="Pharmada news feed screenshot" src="/projects/pharmada/screenshot-2.png" class="rounded-xl w-full mt-4"/>
  </div>

  <div>
    <pharmada-app-info class="text-center hidden md:flex justify-center" />
    <img alt="Pharmada emergency numbers screenshot" src="/projects/pharmada/screenshot-3.png" class="rounded-xl w-full mt-4"/>
    <img alt="Pharmada drugstore details screenshot" src="/projects/pharmada/screenshot-4.png" class="rounded-xl w-full mt-4"/>
  </div>

  <div>
    <img alt="Pharmada health centers screenshot" src="/projects/pharmada/screenshot-6.png" class="rounded-xl w-full"/>
    <img alt="Pharmada supported languages screenshot" src="/projects/pharmada/screenshot-5.png" class="rounded-xl w-full mt-4"/>
  </div>
</div>