<div class="navbar bg-base-100 shadow-sm">
  <div class="navbar-start mx-2">
    <div class="dropdown">
      <button popovertarget="menu-popover" style="anchor-name:--anchor-1" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" /> </svg>
      </button>
      <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="menu-popover" style="position-anchor:--anchor-1">
        <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">Présentation</a></li>
        <li>
          <a>Projets</a>
          <ul class="p-2">
            <li><a [routerLink]="['/pharmada']">Pharmada</a></li>
            <li><a [routerLink]="['/niuz']">Niuz</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/kevin-rabefaritra" target="_blank">
            Github
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
              <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <a class="btn btn-ghost text-xl">site de kevin.</a>
  </div>
  <div class="navbar-end hidden lg:flex">
    <ul class="menu menu-horizontal px-2 gap-3">
      <li><a [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{'exact': true}">Présentation</a></li>
      <li><button popovertarget="projects-popover" style="anchor-name:--anchor-1">Projets</button></li>
      <ul class="dropdown menu w-52 rounded-box bg-base-100 shadow-sm" popover id="projects-popover" style="position-anchor:--anchor-1">
        <li><a [routerLink]="['/pharmada']">Pharmada</a></li>
        <li><a [routerLink]="['/niuz']">Niuz</a></li>
      </ul>
      <li>
        <a href="https://github.com/kevin-rabefaritra" target="_blank">
          Github
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-3">
            <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 6H5.25A2.25 2.25 0 0 0 3 8.25v10.5A2.25 2.25 0 0 0 5.25 21h10.5A2.25 2.25 0 0 0 18 18.75V10.5m-10.5 6L21 3m0 0h-5.25M21 3v5.25" />
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>