:host {
  display: block;
  padding: calc(4 * var(--spacing));
}

::ng-deep h1 {
  margin-bottom: calc(var(--spacing) * 2);
}

::ng-deep p {
  margin-bottom: calc(var(--spacing));
  line-height: var(--tw-leading, var(--text-sm--line-height));
  color: var(--color-grey-500);
}

::ng-deep hr {
  margin: calc(2 * var(--spacing)) 0;
}

::ng-deep th {
  text-align: left;
  padding-right: calc(4 * var(--spacing));
  padding-left: var(--spacing);
  border: 1pt solid var(--color-border);
  font-size: var(--font-size-base);
}

::ng-deep table {
  margin: calc(2 * var(--spacing)) 0;
}

::ng-deep td {
  padding-right: calc(4 * var(--spacing));
  padding-left: var(--spacing);
  border: 1pt solid var(--color-border);
  font-size: var(--font-size-base);
}

::ng-deep tr td:nth-child(n+2) {
  text-align: right;
  padding-right: var(--spacing);
}

::ng-deep .legend > text {
  font-family: var(--theme-font-mono) !important;
  color: var(--color-grey-200);
  fill: var(--color-grey-200) !important;
}

::ng-deep text.slice {
  font-family: var(--theme-font-mono) !important;
}

::ng-deep .node-labels > text {
  font-family: var(--theme-font-mono) !important;
}

@media (min-width: 768px) {
  ::ng-deep .legend > text {
    font-size: var(--text-sm) !important;
  }
}