.card {
  padding: 0;
}

.tree {
  --spacing: 1.35rem;
  --radius: 10px;
  font-size: 0.875rem;
}

.tree li {
  display: block;
  position: relative;
  padding-left: calc(2 * var(--spacing) - var(--radius) - 2px);
}

.tree > li:first-child {
  padding-left: calc(1 * var(--spacing));
}

.tree ul {
  margin-left: calc(var(--radius) - var(--spacing));
  padding-left: 0;
}

.tree ul li {
  border-left: 2px solid var(--color-border);
}

.tree ul li:last-child {
  border-color: transparent;
}

.tree ul li::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(var(--spacing) / -2);
  left: -2px;
  width: calc(var(--spacing) + 2px);
  height: calc(var(--spacing) + 1px);
  border: solid var(--color-border);
  border-width: 0 0 2px 2px;
}

.tree summary {
  display: flex;
  cursor: pointer;
  align-items: center;
  gap: 4px;
}

.tree summary::marker,
.tree summary::-webkit-details-marker {
  display: none;
}

.tree summary:focus {
  outline: none;
}

.tree summary:focus-visible {
  outline: 1px dotted var(--color-border);
}