@import "tailwindcss";
@import 'assets/styles/variables.scss';

body {
  font-family: var(--theme-font-mono);
  font-size: 16px;
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

hr {
  color: var(--color-border);
  border-top: 1pt solid var(--color-border);
}

/* Typography */
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

h3 {
  font-weight: 300;
  margin-top: calc(2 * var(--spacing));
}

.text-muted {
  color: var(--color-grey-700);
}

h1, h2, h3, p, li {
    font-size: var(--font-size-base-mobile);
}
@media (min-width: 768px) {
    h1, h2, h3, p, li {
        font-size: var(--font-size-base);
    }
}

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/* Components */
.bg-bg {
  background-color: var(--color-background);
}

.border-border {
  border-color: var(--color-border);
}

.card {
  border: 1pt solid var(--color-border);
  border-radius: 2px;
  padding: calc(var(--spacing) * 4);
}

.btn {
  border: 1pt solid var(--color-border);
  border-radius: 2px;
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  padding: calc(var(--spacing) * 2);
  text-align: center;
  transition: background-color 150ms;
}

.btn:hover {
  background-color: var(--color-grey-900);
  cursor: pointer;
  transition: background-color 150ms;
}

.btn:hover span {
  color: var(--color-background);
  transition: color 150ms;
}

/* icons */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 200,
  'GRAD' 0,
  'opsz' 24
}