@import "tailwindcss";
@import 'assets/styles/variables.scss';

body {
  font-family: var(--theme-font-mono);
  font-size: 16px;
  line-height: var(--line-height-base);
  -webkit-text-size-adjust: 100%;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Typography */
h1 {
  font-weight: 700;
}

h2 {
  font-weight: 500;
}

::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/* Components */
.bg-bg {
  background-color: var(--color-background);
}

.border-border {
  border-color: var(--color-border);
}

.card {
  border: 1pt solid var(--color-border);
  border-radius: 4px;
  padding: calc(var(--spacing) * 4);
}

.btn {
  border: 1pt solid var(--color-border);
  border-radius: 4px;
  border-color: var(--color-border);
  font-size: var(--text-sm);
  line-height: var(--text-sm--line-height);
  padding: calc(var(--spacing) * 2);
  text-align: center;
}