:root {
  --sidebar-minimized-width: 50px;

  /* Colors */
  --color-background: #efe5c0;
  --color-foreground: #000;
  --color-border: #a89984;

  /* Fonts */
  --theme-font-mono: JetBrains Mono, Courier New, monospace;

  --line-height-base: 1.6;

  --tw-leading: 1.6;
}
