:root {
  --sidebar-minimized-width: 50px;

  /* Colors */
  --color-background: #efe5c0;
  --color-foreground: #000;
  --color-border: #a89984;

  --color-black: #000000;
  --color-grey-500: #9E9E9E;
  --color-grey-600: #757575;
  --color-grey-700: #616161;

  /* Fonts */
  --theme-font-mono: JetBrains Mono, Courier New, monospace;
  --font-size-base-mobile: 16px;
  --font-size-base: 14px;

  --line-height-base: 1.6;

  --tw-leading: 1.6;
}
