:root {
  --sidebar-minimized-width: 50px;

  /* Colors */
  --color-background: #efe5c0;
  --color-foreground: #000;
  --color-border: #424242;

  --color-black: #000000;
  --color-grey-500: #9E9E9E;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;

  /* Fonts */
  --theme-font-mono: "EB Garamond","Garamond","Times New Roman",serif;
  --font-size-base-mobile: 16px;
  --font-size-base: 18px;

  --line-height-base: 1.6;

  --tw-leading: 1.6;
}
