<div class="hero rounded-md">
  <div class="hero-content flex-col lg:flex-row max-w-4xl gap-3">
    <img src="/android-chrome-512x512.png" class="max-w-xs border-b-8" />
    <div class="text-center md:text-left md:ml-8">
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-secondary">
          <h1>Bonjour !</h1>
        </div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-default">
          Je suis consultant IT / full-stack.
        </div>
      </div>
      <div class="chat chat-start">
        <div class="chat-bubble chat-bubble-default">
          Diplômé d'un Master en génie logiciel, j'ai pu travailler dans plusieurs
          domaines comme l'environnement, le divertissement et l'éducation.
        </div>
      </div>
      <div class="chat chat-end">
        <div class="chat-bubble chat-bubble-primary">🤷‍♀️</div>
      </div>
    </div>
  </div>
</div>


<div class="divider"></div>
<h2>Stack technique</h2>
<div class="mt-4 grid md:grid-cols-2 gap-4">
  <div>
    <ul class="list bg-base-100 rounded-box shadow-md">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Frameworks / librairies</li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/spring-logo.png"/></div>
        <div class="list-col-grow">
          <div>Spring Boot</div>
          <div class="text-xs opacity-60">Spring Boot 2 - 3, Spring Security, Spring Data JPA, Hibernate, Keycloak, Flyway, Lombok, Mockito, JUnit.</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/angular-logo.webp"/></div>
        <div class="list-col-grow">
          <div>Angular</div>
          <div class="text-xs opacity-60">Angular 16+, Angular Material, DaisyUI, TailwindCSS</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/ionic-logo.svg"/></div>
        <div class="list-col-grow">
          <div>Ionic</div>
          <div class="text-xs opacity-60">Ionic 7+, Capacitor</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/laravel-logo.png"/></div>
        <div class="list-col-grow">
          <div>Laravel</div>
          <div class="text-xs opacity-60">Laravel 5, Blade</div>
        </div>
      </li>
    </ul>

    <ul class="list bg-base-100 rounded-box shadow-md mt-4">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Certifications</li>
      <li class="list-row">
        <div><img class="size-20" src="/certifications/vcp-spring-2024.jpg"/></div>
        <div class="list-col-grow">
          <div>Spring Certified Profesionnal 2024</div>
          <div class="text-xs opacity-60">VMWare</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-20" src="/certifications/aws-sa.png"></div>
        <div class="list-col-grow">
          <div>AWS Solutions Architect</div>
          <div class="text-xs opacity-60">Amazon</div>
        </div>
      </li>
    </ul>

    <ul class="list bg-base-100 rounded-box shadow-md mt-4">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">SGBD</li>
      <li class="list-row">
        <div class="list-col-grow">
          <div>Relationnel</div>
          <div class="text-xs opacity-60">PostgreSQL, MySQL, SQLite</div>
        </div>
      </li>
      <li class="list-row">
        <div class="list-col-grow">
          <div>Non-relationel</div>
          <div class="text-xs opacity-60">MongoDB</div>
        </div>
      </li>
    </ul>
  </div>

  <div>
    <ul class="list bg-base-100 rounded-box shadow-md">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Langages</li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/java-logo.png"/></div>
        <div class="list-col-grow">
          <div>Java</div>
          <div class="text-xs opacity-60">Java 8 - 21</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/typescript-logo.png"/></div>
        <div class="list-col-grow">
          <div>TypeScript</div>
          <div class="text-xs opacity-60">TypeScript 5</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/kotlin-logo.png"/></div>
        <div class="list-col-grow">
          <div>Kotlin</div>
          <div class="text-xs opacity-60">Kotlin 1 - 2</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/python-logo.png"/></div>
        <div class="list-col-grow">
          <div>Python</div>
          <div class="text-xs opacity-60">Python 3</div>
        </div>
      </li>
      <li class="list-row">
        <div><img class="size-10" src="/icons/php-logo.webp"/></div>
        <div class="list-col-grow">
          <div>PHP</div>
          <div class="text-xs opacity-60">PHP 6 - 7</div>
        </div>
      </li>
    </ul>

    <ul class="list bg-base-100 rounded-box shadow-md mt-4">
      <li class="p-4 pb-2 text-xs opacity-60 tracking-wide">Outils / plateformes</li>
      <li class="list-row">
        <div class="list-col-grow">
          <div>Cloud</div>
          <div class="text-xs opacity-60">AWS, GCP</div>
        </div>
      </li>
      <li class="list-row">
        <div class="list-col-grow">
          <div>IDE</div>
          <div class="text-xs opacity-60">IntelliJ, VSCode</div>
        </div>
      </li>
      <li class="list-row">
        <div class="list-col-grow">
          <div>Autre</div>
          <div class="text-xs opacity-60">Docker, Sonar, Git, Kafka, TDD</div>
        </div>
      </li>
    </ul>
  </div>
</div>