<h1 class="m-5">Accueil</h1>
<div class="gap-5 px-5 pb-5 grid grid-cols-1 md:grid-cols-2 md:px-6 max-w-4xl mx-auto">
  <div class="card">
    <h2 class="mb-2">Présentation</h2>
    <p class="text-sm text-muted mt-1">Je suis Kevin Rabefaritra, consultant IT / full-stack. Diplômé d'un Master en
      génie logiciel, j'ai pu intervenir dans plusieurs domaines comme l'environnement, le divertissement et
      l'éducation.</p>
    <img class="w-full mt-4" src="/em.png" alt="Kevin Rabefaritra" />
  </div>
  <div class="card">
    <h2 class="mb-2">Frameworks</h2>
    <div class="flex flex-col gap-4 mt-2">
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/spring-logo.png" alt="Spring Boot logo" />
          <p class="text-sm">Spring Boot</p>
        </div>
        <p class="text-sm text-muted mt-1">Spring Boot 2 - 3, Spring Security, Spring Data JPA, Hibernate, Keycloak,
          Flyway, Lombok, Mockito, JUnit.</p>
      </div>

      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/angular-logo.png" alt="Angular logo" />
          <p class="text-sm">Angular</p>
        </div>
        <p class="text-sm text-muted mt-1">Angular 16+, Angular Material, DaisyUI, TailwindCSS.</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/ionic-logo.svg" alt="Ionic logo" />
          <p class="text-sm">Ionic</p>
        </div>
        <p class="text-sm text-muted mt-1">Ionic 7+, Capacitor.</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/laravel-logo.png" alt="Laravel logo" />
          <p class="text-sm">Laravel</p>
        </div>
        <p class="text-sm text-muted mt-1">Laravel 5, Blade.</p>
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="mb-2">Outils / plateformes</h2>
    <div class="flex flex-col gap-4 mt-2">
      <div>
        <div class="flex items-center">
          <p class="text-sm">Cloud</p>
        </div>
        <p class="text-sm text-muted mt-1">AWS, GCP</p>
      </div>
      <div>
        <div class="flex items-center">
          <p class="text-sm">IDE</p>
        </div>
        <p class="text-sm text-muted mt-1">IntelliJ, VSCode</p>
      </div>
      <div>
        <div class="flex items-center">
          <p class="text-sm">Autre</p>
        </div>
        <p class="text-sm text-muted mt-1">Docker, Sonar, Git, Kafka, TDD</p>
      </div>
    </div>
  </div>
  <div class="card">
    <h2 class="mb-2">Langages</h2>
    <div class="flex flex-col gap-4 mt-2">
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/java-logo.png" alt="Java logo" />
          <p class="text-sm">Java</p>
        </div>
        <p class="text-sm text-muted mt-1">Java 8 - 21</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/typescript-logo.png" alt="Typescript logo" />
          <p class="text-sm">TypeScript</p>
        </div>
        <p class="text-sm text-muted mt-1">TypeScript 5</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/kotlin-logo.png" alt="Kotlin logo" />
          <p class="text-sm">Kotlin</p>
        </div>
        <p class="text-sm text-muted mt-1">Kotlin 1 - 2</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/python-logo.png" alt="Python logo" />
          <p class="text-sm">Python</p>
        </div>
        <p class="text-sm text-muted mt-1">Python 3</p>
      </div>
      <div>
        <div class="flex items-center">
          <img class="size-6 mr-2" src="/icons/php-logo.webp" alt="PHP logo" />
          <p class="text-sm">PHP</p>
        </div>
        <p class="text-sm text-muted mt-1">PHP 6-7</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h2 class="mb-2">Certifications</h2>
    <div class="flex flex-col gap-4 mt-2">
      <div class="flex items-center">
        <img class="size-15 mr-2" src="/certifications/vcp-spring-2024.jpg" alt="Spring certification" />
        <p class="text-sm">Spring Certified Profesionnal 2024</p>
      </div>
      <div class="flex items-center">
        <img class="size-15 mr-2" src="/certifications/aws-sa.png" alt="AWS certification" />
        <p class="text-sm">AWS Solutions Architect</p>
      </div>
    </div>
  </div>

  <div class="card">
    <h2 class="mb-2">SGBD</h2>
    <div class="flex flex-col gap-4 mt-2">
      <div>
        <div class="flex items-center">
          <p class="text-sm">Relationnel</p>
        </div>
        <p class="text-sm text-muted mt-1">PostgreSQL, MySQL, SQLite</p>
      </div>
      <div>
        <div class="flex items-center">
          <p class="text-sm">Non-relationel</p>
        </div>
        <p class="text-sm text-muted mt-1">MongoDB</p>
      </div>
    </div>
  </div>
</div>