
li > a {
  padding-bottom: .75rem;
  padding-top: .75rem;
  font-size: .875rem;
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  justify-content: center;
  color : var(--color-foreground);
}

li:not(:last-child) > a:not(.active) {
  border-bottom: 1px solid var(--color-border);
}

li > a.active {
  background-color: var(--color-foreground);
  color : var(--color-background);
}

.btn-item {
}

.btn-item > a {
  padding-bottom: .5rem;
  padding-top: .5rem;
  border: 1pt solid var(--color-border);
  border-radius: 2px;
}