
li > a {
  padding-bottom: .75rem;
  padding-top: .75rem;
  opacity: .6;
  font-size: .875rem;
  line-height: 1.25rem;
  text-align: left;
  display: flex;
  justify-content: center;
}

li:not(:first-child) > a {
  border-top: 1pt solid var(--color-border);
}

li > a.active {
  opacity: .9;
}

.btn-item {
}

.btn-item > a {
  padding-bottom: .5rem;
  padding-top: .5rem;
  border: 1pt solid var(--color-border);
  border-radius: 2px;
}